@font-face {
  src: url("~@/assets/fonts/NotoSans-Bold.ttf");
  font-family: "NotoSans-Bold";
}
@font-face {
  src: url("~@/assets/fonts/NotoSans-ExtraBold.ttf");
  font-family: "NotoSans-ExtraBold";
}
@font-face {
  src: url("~@/assets/fonts/NotoSans-Italic.ttf");
  font-family: "NotoSans-Italic";
}
@font-face {
  src: url("~@/assets/fonts/NotoSans-Light.ttf");
  font-family: "NotoSans-Light";
}
@font-face {
  src: url("~@/assets/fonts/NotoSans-Medium.ttf");
  font-family: "NotoSans-Medium";
}
@font-face {
  src: url("~@/assets/fonts/NotoSans-Regular.ttf");
  font-family: "NotoSans-Regular";
}
@font-face {
  src: url("~@/assets/fonts/NotoSans-SemiBold.ttf");
  font-family: "NotoSans-SemiBold";
}
